language: node_js
sudo: false
notifications:
  email: false
node_js:
  - "8"
  - "10"
cache:
  directories: # Cache dependencies
    - node_modules
before_script:
  - npm run bootstrap
script:
  - npm run test:ci
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
  local-dir: docs/build/arcgis-rest-js
  target_branch: gh-pages
before_deploy:
 - npm run docs:build
env:
  - MOZ_HEADLESS=1
addons:
  chrome: stable
  firefox: latest
