/*
You can generate your own clientid by creating an application on the ArcGIS for Developers site. Be sure to add http://localhost:8080/ as a redirect uri for your application

once you have a clientid of your own, copy/paste it here and rename this file 'config.js'
*/
let clientId = "abc123"
