name: Pre-Release Tests

# On pushes to master (i.e. merging a PR)
# run all tests, on win, macos, linux, on node 12 & 14
on:
  push:
    branches:
      - master
    # Dont run if it's just markdown or doc files
    paths-ignore:
      - "**.md"
      - "docs/**"
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [12, 14, 16]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Test in Node
        run: npm run test:node

      - name: Test in Chrome
        run: npm run test:chrome:ci

      - uses: codecov/codecov-action@v1
        with:
          directory: ./coverage
