name: Build, Test, Release

# On pushes to main (i.e. merging a PR)
# run all tests, on Ubuntu Node 24 and release if tests pass
on:
  push:
    branches:
      - main
      - alpha
      - beta
    paths-ignore:
      - "docs/**"
      - "demos/**"
      - "scripts/**"

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read

jobs:
  # First, build and test on multiple os's
  # and multuple versions of node
  build_and_test:
    name: Build and Test

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20, 22, 24]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build
        run: npm run build

      - name: Run Tests
        run: npm run test:ci

  # If the build and test works, run a release
  release:
    name: Release
    needs: [build_and_test]
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Update NPM
        run: npm install -g npm@latest

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create Release Pull Request or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          # build all packages and call changeset publish
          publish: npm run build && npx changeset publish
          # call changeset version and then update the lock file via yarn install
          version: npx changeset version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Use OIDC for npm authentication instead of NPM_TOKEN
          # see https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          NPM_TOKEN: ""
