@import "_icons.scss";
@import "_highlight.scss";

[v-cloak],
[hide] {
  display: none;
}

tr:hover .table-link,
.method-panel:hover header .table-link {
  display: block;
}

.method-panel header .table-link {
  left: -0.875rem;
  top: 1.75rem;
}

td,
.method-panel {
  position: relative;
}

tr:target,
.panel:target {
  background: #efe397;
}

.table-link {
  position: absolute;
  left: -1.25rem;
  top: 50%;
  margin-top: -0.8375rem;
  display: none;
  border-radius: 50%;
  background: white;
  border: 1px solid #cccccc;
  color: #0079c1;
  width: 1.675rem;
  height: 1.675rem;
  text-align: center;
  line-height: 1.675rem;
  &:hover {
    color: white;
    background: #005e95;
    border: 1px solid #005e95;
  }
  .svg-icon {
    vertical-align: auto;
    padding: 0;
    width: 1rem;
    height: 1rem;
    top: 2px;
    position: relative;
  }
}

.api-search-result {
  border: 1px solid transparent;
  padding: 0.25rem;

  &.is-selected {
    background: #f8f8f8;
    border: 1px solid #0079c1;
  }
}

.text-purple {
  color: #7461a8;
}

.sub-nav {
  background: #005e95;
}

.api-param-comment {
  p {
    margin-bottom: 0;
  }
}

.api-function-comment {
  p {
    margin-bottom: 0.5rem;
  }
}

.api-package-content-list {
  margin-left: 1.1375rem;
}

a > code {
  color: #0079c1;
  &:hover {
    color: #005e95;
  }
}

.no-wrap {
  white-space: nowrap;
}

.method-table-signatures {
  margin: 0;
  li {
    margin: 0;
  }
}

.package-contents {
  display: grid;
  grid-gap: 10px;
}

/* no grid support? */

.package-contents {
  display: flex;
  flex-wrap: wrap;
}

.package-contents {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
}

.package-contents li {
  /* needed for the flex layout*/
  flex: 1 1 200px;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .package-contents > * {
    margin: 0;
  }
}

.type-child-list {
  margin: 0;
}

.type-child-name {
  float: left;
  clear: left;
  padding: 0 0.25rem 0 1rem;
  margin: 0;
}

.type-child-type {
  float: left;
  clear: right;
  margin: 0;
}

.api-toggle-button {
  padding: 0.1rem 0.1rem;
}

.api-list-item {
  white-space: nowrap;
}

.list-item-active {
  border-width: 1px;
  border-color: #0079c1;
  border-style: solid
}