@import "_icons.scss";
@import "_highlight.scss";

.api-param-comment {
  p {
    margin-bottom: 0;
  }
}

.api-function-comment {
  p {
    margin-bottom: .5rem;
  }
}

a > code {
  color: #0079c1;
  &:hover {
    color: #005e95;
  }
}

.no-wrap {
  white-space: nowrap;
}

.method-table-signatures {
  margin: 0;
  li {
    margin: 0;
  }
}
